
.selectbar{
	margin-top: 3%;
	margin-left: 30%;
}

.table1{
	margin-top: 1%;
	margin-left: 0%;
}

.table2{
	margin-top: 1%;
	margin-left: 0%;
}

.table3{
	margin-top: 1%;
	margin-left: 0%;
}

.Academic2{
	height:35px;
	width: 19%;
	margin-top: 0%;
	margin-left: 5%;
	background-color:#000014;
	font-size: 25px;
	color: #FFF;
	padding-left: 15px;
	padding-top: 12px;
}

.term{
	margin-left: 6%;
	color: #FFF;
	font-size: 25px;
	margin-top: 4%;
}
