.Academic{
	margin: 20px;
	font-size: 40px;
	color: #FFF;
	padding-left: 10px;
	z-index: 1000;
}
.selectbar{
	margin-top:20px;
	margin-left: 35%;
	z-index: 1000;
}
.table1{
	margin-top:50px;
	margin-left: 4%;
}
.table2{
	margin-top:50px;
	margin-left: 0%;
}

.table3{
	margin-top:50px;
	margin-left: -6%;
}
