.Academic{
	margin: 20px;
	font-size: 40px;
	color: #FFF;
	padding-left: 4%;
	z-index: 1000;


}
.selectbar{
	margin-top:20px;
	margin-left: 35%;
	z-index: 1000;
}
.table1{
	margin-top:50px;
	margin-left: 4%;
}
.table2{
	margin-top:50px;
	margin-left: 4%;
}

.table3{
	margin-top:50px;
	margin-left: -6%;
}
.Academic2{
	height:45px;
	width: 19%;
	margin-top: -6.7%;
	margin-left: -1%; 
	background-color:#0f0f27;
	z-index: 0;
}