.bar_add{
	margin-top: 1%;
	margin-left: -3%;
	font-size: 25px;
	color: #FFF;
}

.selectfile{
	font-size:35px;
	color:#FFF;
	margin-top:8%;
	margin-left:-8%;
}
.buttonSelect{

	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 50px;
	width: 150px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
	margin-top:4.5%;
	margin-left:0%;
	font-size:22px;

}

.buttonSelect:hover , .buttonSelect:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;

}

.buttonAdd{

	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 35px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -0px 4px #3c3e3d;
	margin-top: 2%;
	margin-left: 75%;
	font-size:20px;
	position: fixed;
	float: left;

}

.buttonAdd:hover , .buttonAdd:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -0px 4px #3c3e3d;

}

.in3 {
	font-family: "Open Sans Condensed";
	border-radius: 5px;
	border: 5px;
	height: 240px;
	width: 500px;
	background-color: #000014;
	color: #FFF;
	margin-top: 4%;
	font-size: 25px;

}
.file{
	margin-top: 8%;
	margin-left: 22%;
	font-size: 20px;
}

.in1 {
	font-family: "Open Sans Condensed";
	padding-left: 14px;
	border-radius:10px;
	border: 5px;
	height: 30px;
	width: 110px;
  margin-top: 6%;
  margin-left: 12%;
	font-size: 20px;
}

.term{
	font-size: 25px;
	margin-left: -30%;
	margin-top: -6%;
}

.add{
	margin-top: -3%;
	font-size: 25px;
}

.block_add{
	margin-top: 7%;
	margin-left: 13%;
	height: 500PX ;
	width: 70% ;
	background-color:#000014;
	font-size: 30px;
	color: #FFF;
	padding-top:1.5%;
	padding-left:5%;
	border-radius: 20px;
}

.in4{
	margin-top: -2%;
}

.data3{
  float: left;
  background-color: #000014;
  height: 55px;
	width: 1150px;
  margin-left: 8.5%;
  margin-bottom: 5%;
  border-radius: 10px;
	border: 5px;
  color: #FFF;
  font-size: 20px;
}

.data-in{
  margin-top: 1.2%;
  margin-left: 5%;
  margin-bottom: 0%;
}
