body {
	background-image: url("backgound.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Open Sans Condensed";
}

.bar{
	margin-top: -0.6%;
	margin-left: -0.6%;
	height: 50px;
	width: 101.2%;
	background-color:#000014;
}

.bar-in{
	font-size: 22px;
	color: #FFF;
}

.link{

	font-size: 22px;
	background-color: #000014;
	color: #FFF;
	border-radius:20px;
	border: 5px;
}

.link:hover , .link:active{
	background-color: #000014;
	color: #40494e;
}

.L{
	float: left;
	margin-top: 0.9%;
	margin-left: 2%;
}

.R{
	float: right;
	margin-top: 1.1%;
	margin-right: 2%;
}
