.dataEditactivity{
	color: #FFF;
	font-size: 30px;
	margin-left: 25%;
}
.browse1{
	margin-top:-2%;
	margin-left: 72%;
	width:40%;
	height:25px;

}
.browse2{
	margin-top:-41%;
	margin-left: 72%;


}
.save{
	margin-top:40%;
	margin-left: 10%;
}
.activity{
	margin-top: -28%;
	margin-left: 25%;
}
.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}
