.Edityourinfomation{
	margin-top: 3%;
  margin-left: 2%;
	font-size: 30px;
	background-color: #000014;
	color: #FFF;
	padding-left: 10px;
	height: 40px;
	width: 260px;
}

.dataEdityourinfomation{
	font-size: 20px;
	color: #FFF;
}

.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
	margin-bottom: 20%;
}

.in2:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}

.in3 {
	padding-left: 10px;
	border: 5px;
	height: 20px;
	width: 350px;
}

.name{
  margin-top: 4%;
	margin-right: 35%;
}

.surname{
  margin-top: 2%;
	margin-right: 35%;
}

.nationality{
  margin-top: 2%;
	margin-right: 35%;
}

.date{
  margin-top: 2%;
	margin-right: 35%;
}

.birtholace{
  margin-top: 2%;
	margin-right: 35%;
}

.congenital{
  margin-top: 2%;
	margin-right: 35%;
}

.emer-contact{
  margin-top: 2%;
	margin-right: 62.45%;
}

.emer-phone{
  margin-top: 2%;
	margin-right: 35%;
}

.reletive{
  margin-top: 2%;
	margin-right: 35%;
}

.contact{
  margin-top: 2%;
	margin-right: 62.45%;
}

.phone{
  margin-top: 2%;
	margin-right: 35%;
}

.email{
  margin-top: 2%;
	margin-right: 35%;
}

.address{
  margin-top: 2%;
	margin-right: 35%;
}

.clk{
	float: right;
	margin-top:5%;
	margin-right: 2%;
}
