.dataEditactivity{
	color: #FFF;
	font-size: 25px;
	margin-left: 30%;
}

.br{
	margin-top: 2%;
}

.browse2{
	margin-top:-41%;
	margin-left: 72%;


}

.save{
	margin-top:2%;
	margin-left: 88%;
	position: fixed;
}

.save2{
	margin-top:8.5%;
	margin-left: 88%;
	position: fixed;
}
.activity{
	margin-top: -28%;
	margin-left: 25%;
}
.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}
.in2:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}
.Activity{
	height:35px;
	width: 14.5%;
	margin-top: 0%;
	margin-left: 5%;
	background-color:#000014;
	font-size: 25px;
	color: #FFF;
	padding-left: 15px;
	padding-top: 12px;
	margin-bottom: 4%;
}
}
