.a1{
	text-decoration: none;
	background-color: #000019;
	color: #FFF;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -26%;
	margin-left: 50%;
	font-size: 34px;
	width: 30%;
	height: 80px;
	box-shadow: -1px 6px #3c3e3d;
}

.a1:hover , .a1:active{
	color: #b8955c;
	box-shadow: -1px 6px #3c3e3d;
}

.link2{
	text-decoration: none;
	color: #FFF;
	background-color: #000019;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -16%;
	margin-left: 50%;
	z-index: 2;
	font-size: 34px;
	width: 30%;
	height: 80px;
	box-shadow: -1px 6px #3c3e3d;
}

.link2:hover , .link2:active{
	color: #b8955c;
	box-shadow: -1px 6px #3c3e3d;
}

.link3{
	text-decoration: none;
	color: #FFF;
	background-color: #000019;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -6%;
	margin-left: 50%;
	z-index: 2;
	font-size: 34px;
	width: 30%;
	height: 80px;
	box-shadow: -1px 6px #3c3e3d;
}

.link3:hover , .link3:active{
	color: #b8955c;
	box-shadow: -1px 6px #3c3e3d;

}
.pic{
	float: left;
	margin-left:25%;
	margin-top:4%;
	width: 220px;
	height: 250px;
}
.Name{
	float: left;
	margin-top:25%;
	margin-left: -13%;
	color: #FFF;
	font-size: 25px;
}

.id{
	float: left;
	margin-top:28%;
	margin-left: -13%;
	color: #FFF;
	font-size: 25px;
}

.incycle{
	float: left;
	margin-top:-36%;
	margin-left: 58%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;

}
.print{
	background: url(I4_icon.png);
	float: left;
	margin-top: 1%;
	margin-left: 85%;
}
