.link1{
	text-decoration: none;
	background-color: #ff5345;
	color: #FFF;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -35%;
	margin-left: 64.5%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;
}

.link1:hover , .link1:active{
	background-color: #ff5345;
	color: #ae342a;
}

.link2{
	text-decoration: none;
	color: #FFF;
	background-color: #ff7e16;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -21.5%;
	margin-left: 63.5%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;
}

.link2:hover , .link2:active{
	background-color: #ff7e16;
	color: #b04a11;
}

.link3{
	text-decoration: none;
	color: #FFF;
	background-color: #ffca26;
	border-radius:20px;
	border: 5px;
	float: left;
	margin-top: -8%;
	margin-left: 57.35%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;
}

.link3:hover , .link3:active{
	background-color: #ffca26;
	color: #9c790f;

}
.pic{
	float: left;
	margin-left:15%;
	margin-top:8%;
}
.Name{
	float: left;
	margin-top:34%;
	margin-left: -17%;
	color: #FFF;
	font-size: 20px;
}

.id{
	float: left;
	margin-top:36%;
	margin-left: -17%;
	color: #FFF;
	font-size: 20px;
}

.cycle11{
	float: left;
	margin-top: 15%;
	margin-left: 5%;
}

.cycle12{
	float: left;
	margin-top: 21%;
	margin-left: -3.8%;
}

.cycle13{
	float: left;
	margin-top: 27%;
	margin-left: -3.8%;
}

.cycle21{
	float: left;
	margin-top: 10%;
	margin-left: 4%;
}

.cycle22{
	float: left;
	margin-top: 19.8%;
	margin-left: -7.5%;
}

.cycle23{
	float: left;
	margin-top: 29.6%;
	margin-left: -7.5%;
}

.cycle31{
	float: left;
	margin-top: 2%;
	margin-left: 4%;
	z-index: 1;
}

.cycle32{
	float: left;
	margin-top: 0%;
	margin-left: 4%;
	z-index: 1;
}

.cycle33{
	float: left;
	margin-top: 0%;
	margin-left: -1%;
	z-index: 1;
}

.incycle{
	float: left;
	margin-top:-36%;
	margin-left: 58%;
	z-index: 2;
	font-size: 34px;
	color: #FFF;

}
.print{
	background: url(I4_icon.png);
	float: left;
	margin-top: -6%;
	margin-left: 85%;
}
