body{

	padding: 0;
	margin: 0;
}
.container2{
	position: relative;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;

}
.btn{
	padding: 10px 15px;
	background-color: #E91E63;
	border-radius: 10px;
	color: #fff;
	border: none;
	text-transform: uppercase;
}
.popup2{
	width: 400px;
	height: 200px;
	background-color: #060610;
	border-radius: 4px;
	margin: 0 auto;
	z-index: 1000;
	display: none;
	position: relative;
	position: fixed;
	margin-left: 35%;
	margin-top: -35%;
}

p{
	font-size: 25px;
	color: #fff;
	line-height: 100px;

}
.options2{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.e{
	margin-top : -3%;
	font-size: 20px;
	color: #fff;
	float: left;
	cursor: pointer;
	width: 50%;
	height: 40px;
	background-color: #171723;
	border-color: #171723;
}

.f{
	margin-top : -3%;
	font-size: 20px;
	color: #fff;
	float: left;
	cursor: pointer;
	width: 50%;
	height: 40px;
	background-color: #171723;
	border-color: #171723;
}
.options{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
}
.cover2{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	position: fixed;
}