/*TEACHER*/
.Student_Information{
	float:left;
	margin-top:2%;
	margin-left:24%;
	}

.Student_Information_A{
	font-size: 25px;
	color:#FFF;
	cursor:pointer;
	}

.Add_Grade{
	float:right;
	margin-top:2%;
	margin-right:18%;
	}

.Add_Grade_A{
	font-size: 25px;
	color:#FFF;
	cursor:pointer;
	}
