.profineclk{
	margin-top: 8%;
	margin-right: 3%;
}

.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius:20px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}

.in2:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
	box-shadow: -4px 5px #3c3e3d;
}

.barPrint{
  margin-top: 2%;
  margin-left: -0.6%;
	font-size: 30px;
	background-color: #000014;
	color: #FFF;
	padding-left: 13px;
  padding-top: 5px;
	height: 40px;
	width: 100px;
}

.font-FFF{
	color: #FFF;
}

.profile{
  margin-top: 1%;
  margin-left: 20%;
  font-size: 30px;
}

.pic-student{
  margin-top: 1%;
  margin-left: 15.5%;
}

.name{
  margin-top: -18%;
  margin-left: 35%;
  font-size: 20px;
}

.date-of-birth{
  margin-top: 1%;
  margin-left: 35%;
  font-size: 20px;
}

.nationality{
  margin-top: -2%;
  margin-left: 60%;
  font-size: 20px;
}

.data{
  margin-top: 1%;
  margin-left: 35%;
  font-size: 20px;
}

.gpax{
  margin-top: 1%;
  margin-left: 35%;
  font-size: 20px;
}

.graduated{
  margin-top: -1.8%;
  margin-left: 60%;
  font-size: 20px;
	margin-bottom: 15%
}

.work{
  margin-top: 5%;
  margin-left: 20%;
  font-size: 30px;
}

.en1{
	margin-top: 2%;
	margin-left: 15.55%;
}

.name-of-activity{
	font-size: 25px;
	color: #FFF;
	margin-top: -18%;
	margin-left: 42%;
}

.advisor{
	font-size: 25px;
	color: #FFF;
	margin-top: 2%;
	margin-left: 42%;
}

.date-duration{
	font-size: 25px;
	color: #FFF;
	margin-top: 2%;
	margin-left: 42%;
}

.save-clk{
	margin-top: 4%;
	margin-left: 68%;
}

.print-clk{
	margin-top: -2.3%;
	margin-left: 78%;
}

.edit-clk{
	margin-top: -2.3%;
	margin-left: 88%;
	margin-bottom: 2%
}
