.pic{
  margin-top: -1%;
  margin-left: 12.5%;
}

.in2 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius: 5px;
	border: 5px;
	height: 30px;
	width: 250px;
	background-color: #e8e8e8;
	color: #2e3940;
  margin-top: 8%;
  font-size: 20px;
}

.in2:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
}

.in{
  background-color: #000014;
  height: 185px;
	width: 300px;
  margin-top: 0.7%;
  margin-left: 8%;
  border-radius: 10px;
	border: 5px;
}

.data{
  float: right;
  background-color: #000014;
  height: 460px;
	width: 800px;
  margin-top: -33.5%;
  margin-right: 5%;
  border-radius: 10px;
	border: 5px;
  color: #FFF;
  font-size: 20px;
}

.data2{
  float: right;
  background-color: #000014;
  height: 150px;
	width: 800px;
  margin-top: -33.5%;
  margin-right: 5%;
  border-radius: 10px;
	border: 5px;
  color: #FFF;
  font-size: 20px;
}

.data3{
  float: right;
  background-color: #000014;
  height: 100px;
	width: 800px;
  margin-top: -33.5%;
  margin-right: 5%;
  border-radius: 10px;
	border: 5px;
  color: #FFF;
  font-size: 20px;
}

.data-in{
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: -1.5%;
}

.selectbar{
	margin-top: 5%;
	margin-left: 30%;
	z-index: 1000;
}

.table1{
	margin-top: 2%;
	margin-left: 2%;
}

.table2{
	margin-top:50px;
	margin-left: 0%;
}

.in3 {
	font-family: "Open Sans Condensed";
	padding-left: 5px;
	border-radius: 5px;
	border: 5px;
	height: 30px;
	width: 100px;
	background-color: #e8e8e8;
	color: #2e3940;
  margin-top: 8%;
  font-size: 20px;
}

.in3:hover , .in2:active{
	background-color: #c1c1c1;
	color: #2e3940;
}

.se{
  margin-top: -10.2%;
	margin-left: 40%;
}

.term{
  margin-top: 8%;
	margin-left: -35%;
  font-size: 25px;
}

.en1{
	margin-top: 5%;
	margin-left: 4%;
}

.name-of-activity{
	font-size: 30px;
	color: #FFF;
	margin-top: -22%;
	margin-left: 35%;
}

.advisor{
	font-size: 30px;
	color: #FFF;
	margin-top: 1%;
	margin-left: 35%;
}

.date-duration{
	font-size: 30px;
	color: #FFF;
	margin-top: 1%;
	margin-left: 35%;
}
