<!DOCTYPE html>

<html>

	<head>

		<title>Academic</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='AcademicStudent.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />




		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->


	</head>

	<body>
		<form id="contact-form" action="/menubar", method="POST">
		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<input type="image" name="click" src="static/back_icon.jpg" width="4.5%">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link">

				</div>

				<div class="R">

					USERNAME&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="home_icon" src="static/home_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="print_icon" src="static/print_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="logout_icon" src="static/logout_icon.jpg" width="8.5%">

				</div>

			</div>

		</div>
	</form>
		<div class="Academic">

			<p><u>ACADEMIC</u> : GRADE</p>

		</div>
		<div class="selectbar">
					<form id="contact-form" action="/selectTerm", method="POST">
						<select id="section"  name = "click" size="1" style="width:400px; font-size:25px;height:30px;color:#46445c; " >
							<option value="1/59">1/2559</option>
							<option value="2/59">2/2559</option>
							<option value="1/60">1/2560</option>
							<option value="2/60">2/2560</option>
						</select>
						<input type="submit" value="select">
					</form>

			</select>
		</div>
		<div class="table1">
			<table border="3" style="width:95%; height:250px; color:#FFF; border-color:#000014;" >
				<tr>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;" >ID SUBJECT</th>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">NAME SUBJECT</th>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">CREDITS</th>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">ACADEMIC RECORD</th>
				</tr>
				<tr>
					<td>A1</td>
					<td>B1</td>
					<td>C1</td>
					<td>D1</td>

				</tr>
				<tr>
					<td>A2</td>
					<td>B2</td>
					<td>C2</td>
					<td>D2</td>

				</tr>
				<tr>
					<td>A3</td>
					<td>B3</td>
					<td>C3</td>
					<td>D3</td>

				</tr>
				<tr>
					<td>A4</td>
					<td>B4</td>
					<td>C4</td>
					<td>D4</td>

				</tr>
				<tr>
					<td>A5</td>
					<td>B5</td>
					<td>C5</td>
					<td>D5</td>

				</tr>
				<tr>
					<td>A6</td>
					<td>B6</td>
					<td>C6</td>
					<td>D6</td>

				</tr>

				</div>

		</table>
		<div class="table2">
			<table style="width:95%; height:140px; color:#FFF;border-color:#000014;" border="3" >
				<tr>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">RESULT</th>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">CREDITS REGISTERED</th>
					<th style="background-color: #46445c; border-color:#000014;font-size:20px;">GPA/GPAX</th>

				</tr>
				<tr>
					<td style=" border-color:#000014;font-size:20px;">THIS SEMESTER</td>
					<td>E1</td>
					<td>F1</td>


				</tr>
				<tr>
					<td style=" border-color:#000014;font-size:20px;">CUMULATIVE</td>
					<td>E2</td>
					<td>F2</td>
				</tr>

				</div>
		</table>
	</body>

</html>
