<!DOCTYPE html>

<html>

	<head>

		<title>Activity</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='activity.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->

	</head>

	<body>
		<form id="contact-form" action="/menubar", method="POST">
		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<input type="image" name="click" value="back" src="static/back_icon.jpg" width="4.5%">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link">
					</form>

				</div>

				<div class="R">

					{{name_user}}&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="home_icon" src="static/home_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="print_icon" src="static/print_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="logout_icon" src="static/logout_icon.jpg" width="8.5%">

				</div>

			</div>

		</div>
		</form>

			<form id="contact-form" action="/moreinfo", method="POST">
			<image src="static/en1.png" width="30%" class="en1">
			<image src="static/activity.png" width="75%" class="activity-picture">
			<div class="name-of-activity">NAME OF ACTIVITY</div>
			<div class="advisor">ADVISOR :<input id="chkad" type="checkbox" value="ad" class="cheak"></div>
			<div class="date-duration">DATE/DURATION</div>
			<u><div class="more-info"><input type="submit" name="click" value="MORE INFO>>" class="more-info-link"></div><u/>
			</form>

			<div align="left" class="left-colum">

				<image src="en1.png" width="300%" >
				<!--<image src="activity.png" width="75%" class="activity-picture">-->

			</div>

			<div class="center-colum">

				<div class="name-of-activity">NAME OF ACTIVITY</div>
				<div class="advisor">ADVISOR :<input id="chkad" type="checkbox" value="ad" class="cheak"></div>
				<div class="date-duration">DATE/DURATION</div>
				<u><div class="more-info"><input type="submit" name="click" value="MORE INFO>>" class="more-info-link"></div><u/>

			</div>

			<div align="right" class="activity-clk">

				<input type = "submit" value = "ADD" class = "in2" >

			</div>

	</body>

</html>
