<!DOCTYPE html>

<html>

	<head>

		<title>ADD GRADE</title>

		<link rel="stylesheet" type="text/css" href="add_file.css" />
		<link rel="stylesheet" type="text/css" href="background_tea.css" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->


	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<form id="contact-form" action="/menubarL", method="POST">
						<input type="image" name="click" src="back_icon.jpg" width="6%">&nbsp;&nbsp;&nbsp;
						PORTFOLIO&nbsp;&nbsp;&nbsp;&nbsp;USERNAME
					</form>

				</div>

				<div class="R">
					<input name="click" type="image" value="home_icon.jpg" src="home_icon.jpg" width="20%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="" src="nat.jpg" width="20%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="logout" src="logout_icon.jpg" width="20%">

				</div>

			</div>

		</div>

		<div class="bar_add">ADD GRADE</div>

		<div class="box_add" height=>

			<input id="text1" type = "text" placeholder = "TURM / YEAR" name = "id" class = "in1">
			<image src="file.png" width="10%" class="file">
			<div class="filename">FILE-POP.html</div>

			<input id="text1" type = "text" placeholder = "TURM / YEAR" name = "id" class = "in1">
			<image src="file.png" width="10%" class="file">
			<div class="filename">FILE-POP.html</div>

			<input id="text1" type = "text" placeholder = "TURM / YEAR" name = "id" class = "in1">
			<image src="file.png" width="10%" class="file">
			<div class="filename">FILE-POP.html</div>

		</div>

		<div class="ok-clk"><input type = "submit" value = "OK" class = "in2" ></div>
		<div class="cancle-clk"><input type = "submit" value = "CANCLE" class = "in2" ></div>

	</body>
</html>
