<!DOCTYPE html>

<html>

	<head>

		<title>ADD GRADE</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='add_grade.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background_tea.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popup.css')}}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->


	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<form id="contact-form" action="/menubarTeacher", method="POST">
						<input type="image" name="click" src="static/back_icon.jpg" width="6%">&nbsp;&nbsp;&nbsp;
						PORTFOLIO&nbsp;&nbsp;&nbsp;&nbsp;
						USERNAME

				</div>

				<div class="R">
					<input name="click" type="image" value="home" src="static/home_icon.jpg" width="20%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="noti" src="static/nat.jpg" width="20%">&nbsp;&nbsp;&nbsp;
					</form>
					<input class="out" name="click" type="image" value="logout" src="static/logout_icon.jpg" width="20%">

				</div>

			</div>

		</div>

		<div class="container">

			<div class="popup">
				<p>Do you want to Exit ?</p>
				<div class="option">
          <form id="contact-form" action="/getPopup", method="POST">
					<input class="a" type = "button" name="popup" value = "Cancel" />
					<input  class ="b" type = "submit" name="popup" value = "Exit" />
					</form>
				</div>
			</div>
		</div>
		<div class="cover">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".out").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
				});
			});
			$(document).ready(function(){
				$('.cover').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});
			$(document).ready(function(){
				$('.a').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});

		</script>

		<div class="bar_add">ADD GRADE</div>

		<div align="center" class="selectfile">

			Select your files.
			<div align="center" ><input type = "file" name = "file" placeholder="SELECT FROM YOUR COMPUTER" style="width:30%;height:25px;"></div>

		</div>

		<div align="right">

			<input type = "submit" name="click" value = "ADD" class="buttonAdd" >

		</div>

	</body>
</html>
