<!DOCTYPE html>

<html>

	<head>

		<title>DataActivity</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dataactivity.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popup.css')}}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">
					<form id="contact-form" action="/menubar", method="POST">
					<input class="back" type="image" name="click" value="back" src="static/back_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link1" style="cursor:pointer">

				</div>

				<div class="R">

					{{name}}&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="home_icon" src="static/home_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="print_icon" src="static/print_icon.jpg">&nbsp;&nbsp;&nbsp;
					</form>
					<input class="out" name="click" type="image" value="logout_icon" src="static/logout_icon.jpg">

				</div>

			</div>

		</div>

		<div class="container">

			<div class="popup">
				<p>Do you want to logout ?</p>
				<div class="option">
          <form id="contact-form" action="/getPopup", method="POST">
					<input class="a" type = "button" name="popup" value = "NO" />
					<input  class ="b" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="cover">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".out").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.a').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});

		</script>

		<form id="contact-form" action="/editAcButton", method="POST">
		<input type = "submit" name={{page.Name_Activity}},{{page.id}} value = "EDIT" class = "in2" style="cursor:pointer">
		</form>
		<form id="contact-form" action="/deleteAc", method="POST">
		<input type = "submit" name={{page.Name_Activity}},{{page.id}} value = "DELETE" class = "in3" style="cursor:pointer">
		</form>

		<div class="Activity">ACTIVITY</div>
		<div class="group" >
			<image src="static/pictures/activity/{{page.Photo}}" class="en1">
			<div class="name-of-activity">Name of activity : {{page.Name_Activity}}</div>
			<div class="date-of-activity">Date : {{page.Date_Activity}}</div>
			<div class="advisor">Advisor : {{page.Advisor}}</div>
			<div class="type">Type : {{page.Type}}</div>
			<div class="description">Description : {{page.Description}}</div>
			<form id="contact-form" action="/downloadFile", method="POST">
			<div class="more-info">File : <input type="submit" name="cilck" value={{page.File}} class="more-info-link"></div>
			<div class="more-info">{{page2}}</div>
			</form>

		</div>

	</body>

</html>
