<!DOCTYPE html>

<html>

	<head>

		<title>DataActivity</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='dataactivity.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->

	</head>

	<body>

		<form id="contact-form" action="/menubar", method="POST">
		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<input type="image" name="click" value="back" src="static/back_icon.jpg" width="4.5%">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link">
					</form>

				</div>

				<div class="R">

					{{name}}&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="home_icon" src="static/home_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="print_icon" src="static/print_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="logout_icon" src="static/logout_icon.jpg" width="8.5%">

				</div>

			</div>

		</div>
	  </form>

			<image src="static/en1.png" width="30%" class="en1">
			<image src="static/activity.png" width="75%" class="activity-picture">
			<div class="name-of-activity">NAME of ACTIVITY : {{activity}}</div>
			<div class="advisor">ADVISOR : {{activity}}<input id="chkad" type="checkbox" value="ad" class="cheak"></div>
			<div class="type">TYPE : {{activity}}</div>
			<div class="description">DESCRIPTION : {{activity}}</div>
			<div class="flies">FILE OR DOCUMENT RELEVANT TO THE ACTIVITY : {{activity}}</div>

		<div align="right" class="dataactivity-clk">

			<form id="contact-form" action="/editAcButton", method="POST">
			<input type = "submit" name= "click" value = "EDIT" class = "in2" >
		  </form>

		</div>

	</body>

</html>
