<!DOCTYPE html>

<html>

	<head>

		<title>Edit your indomation</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='edit-your-infomation.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bgaddactivity.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popup.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popupback.css')}}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">
					<input class="back" type="image" name="click" value="back" src="static/back_icon.jpg">
					<input class="back1" type="submit" name="click" value="PROFILE" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input class="back2" type="submit" name="click" value="ACADEMIC" style="cursor:pointer" >&nbsp;&nbsp;&nbsp;
					<input class="back3" type="submit" name="click" value="WORK&EXPERIENCE" style="cursor:pointer" >

				</div>

				<div class="R">

					{{name}}&nbsp;&nbsp;&nbsp;
					<input class="back4" name="click" type="image" value="home_icon" src="static/home_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input class="back5" name="click" type="image" value="print_icon" src="static/print_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input class="out" name="click" type="image" value="logout_icon" src="static/logout_icon.jpg">

				</div>

			</div>

		</div>

		<div class="containerback">

			<div class="popupback">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback">
          <form id="contact-form" action="/getleave", method="POST">
					<input class="aback" type = "button" name="popup" value = "NO" />
					<input  class ="bback" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".back").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback").fadeOut('slow');
				});
			});

		</script>
		<div class="containerback1">

			<div class="popupback1">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback1">
          <form id="contact-form" action="/backProfile", method="POST">
					<input class="aback1" type = "button" name="popup" value = "NO" />
					<input  class ="bback1" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback1">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".back1").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback1").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback1').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback1").fadeOut('slow');
				});
			});

		</script>
		<div class="containerback2">

			<div class="popupback2">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback2">
          <form id="contact-form" action="/backAcademic", method="POST">
					<input class="aback2" type = "button" name="popup" value = "NO" />
					<input  class ="bback2" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback2">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".back2").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback2").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback2').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback2").fadeOut('slow');
				});
			});

		</script>
		<div class="containerback3">

			<div class="popupback3">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback3">
          <form id="contact-form" action="/backWorkEx", method="POST">
					<input class="aback3" type = "button" name="popup" value = "NO" />
					<input  class ="bback3" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback3">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".back3").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback3").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback3').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback3").fadeOut('slow');
				});
			});

		</script>
				<div class="containerback4">

			<div class="popupback4">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback4">
          <form id="contact-form" action="/backHome", method="POST">
					<input class="aback4" type = "button" name="popup" value = "NO" />
					<input  class ="bback4" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback4">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>

			$(document).ready(function(){
				$(".back4").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback4").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback4').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback4").fadeOut('slow');
				});
			});

		</script>
		<div class="containerback5">

			<div class="popupback5">
				<p>Do you want to leave without finishing ?</p>
				<div class="optionback5">
          <form id="contact-form" action="/backPrint", method="POST">
					<input class="aback5" type = "button" name="popup" value = "NO" />
					<input  class ="bback5" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="coverback5">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".back5").on('click',function(){
					$(".coverback").fadeIn('slow');
					$(".popupback5").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.aback5').on('click',function(){
					$(".coverback").fadeOut('slow');
					$(".popupback5").fadeOut('slow');
				});
			});

		</script>
		<div class="container">

			<div class="popup">
				<p>Do you want to logout ?</p>
				<div class="option">
          <form id="contact-form" action="/getPopup", method="POST">
					<input class="a" type = "button" name="popup" value = "NO" />
					<input  class ="b" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="cover">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".out").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.a').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});

		</script>

		<form id="contact-form" action="/getEditInfo", method="POST">
		<div class="Edityourinfomation" style="width: 280px;">Edit your information</div>

		<div align="right" class="dataEdityourinfomation">
			{%for profile in page %}
			<div class="name">Name : <input id="text1" type = "text" name = "name" class = "in3" placeholder = "{{profile.Name}}"/></div>
			<div class="surname">Surname : <input id="text1" type = "text" name = "surname" class = "in3" placeholder = "{{profile.Surname}}"/></div>
			<div class="nationality">Nationality : <input id="text1" type = "text" name = "nation" class = "in3" placeholder = "{{profile.Nation}}"/></div>
			<div class="date">Date of birth : <input id="text1" type = "text" name = "bd" class = "in3" placeholder = "{{profile.Dateofbirth}}"/></div>
			<div class="birtholace">Birthplace : <input id="text1" type = "text" name = "bp" class = "in3" placeholder = "{{profile.Birthplace}}"/></div>
			<div class="congenital">Congenital disease : <input id="text1" type = "text" name = "dis" class = "in3" placeholder = "{{profile.Disease}}"/></div>
			<div class="emer-contact">Emergency Contact  </div>
			<div class="emer-phone">Phone Number : <input id="text1" type = "text" name = "emerphone" class = "in3" placeholder = "{{profile.PhoneEmer}}"/></div>
			<div class="reletive">Relative : <input id="text1" type = "text" name = "reletive" class = "in3" placeholder = "{{profile.Relative}}"/></div>
			<div class="contact">Contact </div>
			<div class="phone">Phone Number : <input id="text1" type = "text" name = "phone" class = "in3" placeholder = "{{profile.Phonestudent}}"/></div>
			<div class="email">Email : <input id="text1" type = "text" name = "email" class = "in3" placeholder = "{{profile.Email}}"/></div>
			<div class="address">Address : <input id="text1" type = "text" name = "address" class = "in3" placeholder = "{{profile.Address}}"/></div>
			{% endfor %}
		</div>

			<input type = "submit" value = "SAVE" class = "in2"  style="cursor:pointer">


	</form>
	<form id="contact-form" action="/cancleEdit", method="POST">
	<input type = "submit" name= "click" value = "CANCEL" class = "cancle"  style="cursor:pointer">
  </form>
	</body>

</html>
