
<!DOCTYPE html>

<html>

	<head>

		<title>Edit your indomation</title>

		<link rel="stylesheet" type="text/css" href="login-context.css" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->
		
	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<a href="student.html"><img src="back_icon.jpg" width="25"></a>&nbsp;&nbsp;&nbsp;
					<a href="profile.html" class="link">PROFILE</a>&nbsp;&nbsp;&nbsp;
					<a href="student.html" class="link">ACADEMIC</a>&nbsp;&nbsp;&nbsp;
					<a href="student.html" class="link">WORK&EXPERIENCE</a>

				</div>

				<div class="R">

					USERNAME&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="home_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="print_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="logout_icon.jpg"></a>

				</div>

			</div>

		</div>

		<div class="Edityourinfomation">

			<p>Edit your infomation</p>

		</div>

		<div align="right" class="dataEdityourinfomation"><br>

			NAME :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			NATIONALITY :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			DATE OF BIRTH :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			BIRTHOLACE :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			CONGENITAL DISEASE :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			DATA CONTACT :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/><br><br>
			CONTACT :&nbsp;&nbsp;<input id="text1" type = "text" name = "text" class = "in3"/>

		</div>

		<div align="right" class="R">

			<br><br><a href="profile.html"><input type = "submit" value = "SAVE" class = "in2" ></a>

		</div>
			
	</body>

</html>