
<!DOCTYPE html>

<html>

	<head>

		<title>Edit Activity</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='edit-activity.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->

	</head>

	<body>

		<form id="contact-form" action="/menubar", method="POST">
		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<input type="image" name="click" src="static/back_icon.jpg" width="4.5%">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link">

				</div>

				<div class="R">

					{{name_user}}&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="home_icon" src="static/home_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="print_icon" src="static/print_icon.jpg" width="8.5%">&nbsp;&nbsp;&nbsp;
					<input name="click" type="image" value="logout_icon" src="static/logout_icon.jpg" width="8.5%">

				</div>

			</div>

		</div>
	  </form>

		<div align="left" class="dataEditactivity"><br>

			NAME OF ACTIVITY :&nbsp;&nbsp;<input id="text1" type = "text" name = "click" style="width:31%;height:25px;"/><br><br>
			TYPE :&nbsp;&nbsp;<input id="text1" type = "text" name = "click" style="width:49%;height:25px;"><br><br>
			DATE/DURATION :&nbsp;&nbsp;<input id="text1" type = "text" name = "click" style="width:35%;height:25px;"/><br><br>
			PHOTO OF ACTIVITY :&nbsp;&nbsp;<input id="text1" type = "text" name = "click" placeholder="SELECT FROM YOUR COMPUTER" style="width:30%;height:25px;"/><br><br>
			ADVISOR :&nbsp;&nbsp;<input id="text1" type = "text" name = "click" style="width:44%;height:25px;"/><br><br>
			A DESCRIPTION THE ACTIVITY :&nbsp;&nbsp;<br><br><input id="text1" type = "text" name = "click" style="width:58.5%;height:25px;"/><br><br>
			FLIES OR DOCUMENTS RELEVANT TO THE ACTIVITY :&nbsp;&nbsp;<br><input id="text1" type = "text" name = "click" placeholder="SELECT FROM YOUR COMPUTER" style="width:58.5%;height:30px;"/>

		</div>
		<div class="browse2">
   			<input name="click" type="file" style="margin-top:63%;margin-left: 5%;width:40%;
	height:25px;">
		<div class="browse1">
   			<input name="click" type="file" style="margin-top:72%;margin-left: 5%;width:40%;
	height:25px;" >
		</div>

		</div>
		<div align="right" class="save">

			<input type = "submit" value = "SAVE" class = "in2" onclick="myFunction()"  />
			<p name ="demo"></p>
		</div>

		<script>
		function myFunction() {
   		 var x;
    		if (confirm("Do you want to leave without finishing ?") == true) {
        		x = "You pressed OK!";
    		} else {
        		x = "You pressed Cancel!";
   		 }
   		 document.getElementById("demo").innerHTML = x;
}
</script>
}
</script>


	</body>

</html>
