<!DOCTYPE html>

<html>

	<head>

		<title>HomeStudent</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='HomeStudent.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popup.css')}}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	</head>

	<body>
		<script>
		function goBack() {
   		window.history.back();
		}
		</script>

		<div class="bar">

			<div class="bar-in">

				<div class="L">
					<form id="contact-form" action="/menubar", method="POST">
					<input class="back" type="image" name="click" value="back" src="static/back_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link" style="cursor:pointer">

				</div>

				<div class="R">

					{{name}}&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="home_icon" src="static/home_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="print_icon" src="static/print_icon.jpg">&nbsp;&nbsp;&nbsp;
					</form>
					<input class="out" name="click" type="image" value="logout_icon" src="static/logout_icon.jpg">

				</div>

			</div>

		</div>

		<div class="container">

			<div class="popup">
				<p>Do you want to logout ?</p>
				<div class="option">
          <form id="contact-form" action="/getPopup", method="POST">
					<input class="a" type = "button" name="popup" value = "NO" />
					<input  class ="b" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="cover">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".out").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.a').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});

		</script>

		<image src="static/pictures/profile/{{picS}}" class='pic'>

		<div class='Name'>{{name}}</div>
		<div class='id'>{{id_user}}</div>

		<form id="contact-form" action="/menubar", method="POST">
		<input type="submit" name="click" value="PROFILE" class="a1" style="cursor:pointer">
		<input type="submit" name="click" value="ACADEMIC" class="link2" style="cursor:pointer">
		<input type="submit" name="click" value="WORK&EXPERIENCE" class="link3" style="cursor:pointer">
		</form>

		</div>
		<div class="print">
			<form id="contact-form" action="/printer", method="POST">
			<input name="click" type="image" value="picPrinter" src="static/I4_icon.png" width="200" height="120">
			</form>

		</div>

	</body>

</html>
