<!DOCTYPE html>

<html>

	<head>

		<title>HomeStudent</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='HomeStudent.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='backgound.css')}}" />
	</head>

	<body>
		<script>
		function goBack() {
   		window.history.back();
		}
		</script>

		<form id="contact-form" action="/menubar", method="POST">
		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<button onclick="goBack()">Back</button>&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link">
				</div>

				<div class="R">

					USERNAME&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="home_icon" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="print_icon" class="link">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="logout_icon" class="link">
				</div>

			</div>

		</div>
	</form>

		<div class='pic'>
			<image src="static/student.png">
		</div>
		<div class='NameId'>
			<p>
				NAME : XXXXXXXXXXXXX <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID : {{id_user}}

			</p>
		</div>
		<div class="cycle1">
			<image src="static/circle1.png" width = "50" height ="50"><br/><br/><br/>
			<image src="static/circle2.png" width = "50" height ="50"><br/><br/><br/>
			<image src="static/circle3.png" width = "50" height ="50"><br/><br/><br/>
			</div>
		<div class="cycle2">
			<image src="static/circle1.png" width = "120" height ="100" ><br/><br/><br/>
			<image src="static/circle2.png" width = "120" height ="100"><br/><br/><br/>
			<image src="static/circle3.png" width = "120" height ="100"><br/><br/><br/>
			</div>
		<div class="cycle3">
			<image src="static/circle1.png" width = "300" height ="150"></a><br/><br/><br/>
			<image src="static/circle2.png" width = "350" height ="150"></a><br/><br/><br/>
			<image src="static/circle3.png" width = "500" height ="200"></a><br/><br/><br/>
		</div>
		<div class = "incycle">
					<br/>
					<input type="submit" name="click" value="PROFILE" class="link1" > <br/><br/><br/><br/>
					<input type="submit" name="click" value="ACADEMIC"  class="link2"><br/><br/><br/><br/><br/>
					<input type="submit" name="click" value="WORK&EXPERIENCE"  class="link3">
		</div>
		<div class="print">
			<form id="contact-form" action="/printer", method="POST">
			<input name="click" type="image" value="picPrinter" src="static\I4_icon.png" width="200" height="120"> <br/><br/><br/>
			</form>

		</div>

	</body>

</html>
