<!DOCTYPE html>

<html>

	<head>

		<title>HomeStudent</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='login-context.css')}}" />

	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<a href="student.html"><img src="static/back_icon.jpg" width="25"></a>&nbsp;&nbsp;&nbsp;
					<a href="profile.html" class="link">PROFILE</a>&nbsp;&nbsp;&nbsp;
					<a href="student.html" class="link">ACADEMIC</a>&nbsp;&nbsp;&nbsp;
					<a href="student.html" class="link">WORK&EXPERIENCE</a>

				</div>

				<div class="R">

					USERNAME&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="static/home_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="static/print_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="static/logout_icon.jpg"></a>

				</div>

			</div>

		</div>

		<div class='pic'>
			<image src="static/student.png">
		</div>
		<div class='NameId'>
			<p>
				NAME : {{name_user}} <br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ID :{{id_user}}

			</p>
		</div>
		<div class="cycle1">
			<image src="static/circle1.png" width = "50" height ="50"><br/><br/><br/>
			<image src="static/circle2.png" width = "50" height ="50"><br/><br/><br/>
			<image src="static/circle3.png" width = "50" height ="50"><br/><br/><br/>
			</div>
		<div class="cycle2">
			<image src="static/circle1.png" width = "120" height ="100" ><br/><br/><br/>
			<image src="static/circle2.png" width = "120" height ="100"><br/><br/><br/>
			<image src="static/circle3.png" width = "120" height ="100"><br/><br/><br/>
			</div>
		<div class="cycle3">
			<a href="student.html"><image src="static/circle1.png" width = "300" height ="150"></a><br/><br/><br/>
			<a href="student.html"><image src="static/circle2.png" width = "350" height ="150"></a><br/><br/><br/>
			<a href="student.html"><image src="static/circle3.png" width = "350" height ="200"></a><br/><br/><br/>
		</div>
		<div class = "incycle">
					<br/>
					<a href="profile.html" class="link1">PROFILE</a> <br/><br/><br/><br/><br/>
					<a href="AcademicStudent.html" class="link2">ACADEMIC</a><br/><br/><br/><br/>
					<a href="student.html" class="link3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WORK<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&<br/>EXPERIENCE</a><br/><br/><br/>
		</div>
		<div class="print">
			<a href="student.html"><image src="static/I4_icon.png" width = "200" height ="120"><br/><br/><br/>

		</div>

	</body>

</html>
