<!DOCTYPE html>

<html>

	<head>

		<title>Login</title>

		<link rel="stylesheet" type="text/css" href="login-context.css" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->


	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<a href="T_back.html"><img src="back_icon.jpg" width="25"></a>&nbsp;&nbsp;&nbsp;
					PORTFOLIO&nbsp;&nbsp;&nbsp;&nbsp;{{name}}

				</div>

				<div class="R">

					<a href="T_home.html"><image src="home_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="T_not.html"><image src="nat.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="T_logout.html"><image src="logout_icon.jpg"></a>

				</div>

			</div>

		</div>
	</body>
</html>
