<!DOCTYPE html>

<html>

	<head>

		<title>Profile</title>

		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='profile.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='background.css')}}" />
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='popup.css')}}" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">
					<form id="contact-form" action="/menubar", method="POST">
					<input class="back" type="image" name="click" value="back" src="static/back_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="PROFILE" class="link1" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="ACADEMIC" class="link" style="cursor:pointer">&nbsp;&nbsp;&nbsp;
					<input type="submit" name="click" value="WORK&EXPERIENCE" class="link" style="cursor:pointer">

				</div>

				<div class="R">

					{{name}}&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="home_icon" src="static/home_icon.jpg">&nbsp;&nbsp;&nbsp;
					<input class="bar-pic" name="click" type="image" value="print_icon" src="static/print_icon.jpg">&nbsp;&nbsp;&nbsp;
					</form>
					<input class="out" name="click" type="image" value="logout_icon" src="static/logout_icon.jpg">

				</div>

			</div>

		</div>

		<div class="container">

			<div class="popup">
				<p>Do you want to logout ?</p>
				<div class="option">
          <form id="contact-form" action="/getPopup", method="POST">
					<input class="a" type = "button" name="popup" value = "NO" />
					<input  class ="b" type = "submit" name="popup" value = "YES" />
					</form>
				</div>
			</div>
		</div>
		<div class="cover">

		</div>
		<script type="../js/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function(){
				$(".out").on('click',function(){
					$(".cover").fadeIn('slow');
					$(".popup").fadeIn('slow');
				});
			});

			$(document).ready(function(){
				$('.a').on('click',function(){
					$(".cover").fadeOut('slow');
					$(".popup").fadeOut('slow');
				});
			});

		</script>
		<form id="contact-form" action="/editInfo", method="POST">
		<div class="clk"><input type = "submit" name="click" value = "EDIT" class = "in2" style="cursor:pointer" ></div>
		</form>

		<div class="Activity">PROFILE</div>
		<img src="static/pictures/profile/{{picS}}" align="left" class="pic2">

		<div align="left" class="profile" >
		<div class="four">
			{%for profile in page %}
			<div><b>Name :</b><div class="d1">{{profile.Name}} {{profile.Surname}}</div></div>
			<div><b>Date of Birth :</b><div class="d1">{{profile.Dateofbirth}}</div></div>
			<div><b>Birthplace :</b><div class="d1">{{profile.Birthplace}}</div></div>
			<div><b>Nationality : </b><div class="d1">{{profile.Nation}}</div></div>
			<div><b>Congenital Disease :</b><div class="d1">{{profile.Disease}}</div></div>
			<div><b>Emergency Contact :</b><div class="d1">{{profile.Relative}} {{profile.PhoneEmer}}</div></div>
			<div><b>Contact :</b><div class="d1">{{profile.Phonestudent}}</div></div><br>
			<div class="d1">{{profile.Address}}</div><br>
			<div class="d1">{{profile.Email}}</div>
			{% endfor %}
		</div>
		</div>

	</body>

</html>
