<!DOCTYPE html>

<html>

	<head>

		<title>Profile</title>

		<link rel="stylesheet" type="text/css" href="login-context.css" />

		<!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed"-->

	</head>

	<body>

		<div class="bar">

			<div class="bar-in">

				<div class="L">

					<a href="HomeStudent.html"><img src="back_icon.jpg" width="25"></a>&nbsp;&nbsp;&nbsp;
					<a href="profile.html" class="link">PROFILE</a>&nbsp;&nbsp;&nbsp;
					<a href="AcademicStudent.html" class="link">ACADEMIC</a>&nbsp;&nbsp;&nbsp;
					<a href="student.html" class="link">WORK&EXPERIENCE</a>

				</div>

				<div class="R">

					USERNAME&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="home_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="print_icon.jpg"></a>&nbsp;&nbsp;&nbsp;
					<a href="student.html"><image src="logout_icon.jpg"></a>

				</div>

			</div>

		</div>

		<div align="center" class="pic2">

			<br><br><br><br><br><br><br><img src="student.png" width="15%" height="15%">

		</div>

		<div align="left" class="profileleft">

			NATIONALITI :<br><br><br><br><br><br><br><br>
			CONGENITAL DISEASE :<br><br><br><br>
			DATA CONTACT :

		</div>

		<div align="left" class="profileright">

			NAME :<br><br><br><br>
			DATE OF BIRTH :<br><br><br><br>
			BIRTHOLACE :<br><br><br><br>
			CONTACT :

		</div>

		<div align="right" class="R">

			<br><br><br><br><br><a href="edit-your-infomation.html"><input type = "submit" value = "EDIT" class = "in2" ></a>

		</div>

	</body>

</html>
