
<html>
<head>


</head>
<title>Popup.html</title>

<body>
    <form name="form1" , action="/getPopup", method="[POST]">
        <input type="text" name="text1" /> <br/>
        <input type="button" value = "alert()" name = "text1" onclick="alert('Welcome');" />
        

    </form>
<script>
    function testConfirm(){
        var result = confirm("Are you sure want to leave?");
        if(result == true){
            document.form1.text1.value = "want to leave";
        }else{
            document.form1.text1.value = "want to stay";
        }

    }

</script>
    <input name = "text1" type="submit" value = "confirm()" onclick="confirm();" />
</form>
</body>



</html>

</html>

