<!Doctype html>
	<head>
	<title>upload file</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
	<div>
    <form id="contact-form" action="/getfile" method="POST" >
		<input type="file" id="i_file" value=""> 
<input type="button" id="i_submit" value="Submit">
    <br>
<img src="" width="200" style="display:none;" />
        <br>
<div id="disp_tmp_path"></div>
</form>

	<script type="../js/jquery-3.2.1.min.js"></script>
	<script>
		$('input[type=file]').change(function () {
    	console.log(this.files[0].mozFullPath);
			})
	</script>
  
    
	<div>

</body>
</html>
